.col-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  margin: 0 2rem;
  width: 50%;
  float: right;
  text-align: center;
  scroll-behavior: smooth;
}


.details {
  margin-top: 6rem;
}

/* video {
  width: 30%;
  height: 30%;
  object-fit: cover;
  border: 10px solid red;
} */

h1 {
  font-size: 40px;
  font-weight: 700;
  /* margin-bottom: 2rem; */
  color: red
}
