.col-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  margin: 0 2rem;
  width: 50%;
  float: right;
  text-align: center;
  scroll-behavior: smooth;
}

h1 {
  font-size: 40px;
  font-weight: 700;
  color: red
}


.details {
  margin-top: 6rem;
}
